name: Docker Build & Push

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          cd messaging_app
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/messaging-app:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/messaging-app:latest
